@import './base.css';

html, body, #app {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-nav .nav-link.active {
  color: #149414;
}

a {
  color: #149414;
  position: relative;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.nav-link:focus, .nav-link:hover, .navbar-nav .nav-link {
  color: white;
}

.main-menu a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #149414;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.main-menu a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
}

p {
  font-size: 16px;
  line-height: 22px;
}
@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

.main-wrapper {
  background-color: #0D0B13;
}
.my-name {
  color: var(--primary-color);
}
.heading {
  color: var( --vt-c-white);
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn:first-child:active {
  background: var(--secondary-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.btn-primary:hover .icon,
.btn-primary:focus .icon,
.btn-primary:active .icon,
.btn:first-child:active {
  color: var(--primary-color);
}
.btn-secondary {
  background: transparent;
  border-color: var(--primary-color);
}
.icon {
  width: 20px;
  height: 20px;
  color: white;
}

.envelope {
  width: 35px;
}
.gh-link,
.linkedin-link,
.email-link {
  color: white;
  transition: color 0.3s ease;
}

.gh-link:hover .gh-icon,
.linkedin-link:hover .linkedin-icon,
.email-link:hover .mail-icon {
  color: var(--primary-color);
}
.about-text {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3rem;
}
.about-section {
  background: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}
